fieldset{
	border: none;	
}

.swapList{
	clear: both;
	}

#choixmultipleA,#choixmultipleB,#choixCandidatA,#choixCandidatB,#choixMultipleLocalitesA,#choixMultipleLocalitesB,#choixCandidatLocaliteA,#choixCandidatLocaliteB {
	width: 330px;
	height:150px;
	}

.ui-accordion .ui-accordion-content{ 
	/*overflow:visible !important;*/
	height:auto!important; 
	}