#swapList td {
	text-align: center;
}

#choixmultipleA,#choixmultipleB,#choixCandidatA,#choixCandidatB {
	width: 130px;
}

#menu-css li {
	display: inline;
	list-style: none;
}

#menu-css li a { /*font-size:14px;*/
	font-weight: bold;
	/* Border Radius */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* Border Shadow */
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
	color: #ffffff;
	background: rgba(0, 0, 0, 0.6); //
	background: rgba(28, 148, 196, 0.9);
	display: inline-block;
	padding: 5px 15px;
	outline: none;
	text-decoration: none;
}

#menu-css li a:hover {
	background: rgba(0, 0, 0, 0.2);
	/*padding: 5px 25px;*/
}

#menu-css li a:active {
	background: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#menu-css li .actif { //
	background: rgba(28, 148, 196, 0.8); //
	background: rgba(0, 0, 0, 0.5);
	background: rgba(210, 71, 83, 0.8); //
	color: black;
	color: white;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/*******************************************************************************/
body {
	font: 62.5% "Trebuchet MS", sans-serif;
	margin: 0px;
}

h1 {
	color: #1c94c4;
	margin-top: 0;
}

a {
	margin: 5px;
	font-size: 16px;
	color: blue;
}

a:visited {
	color: blue;
}

label {
	font-weight: bold;
	font-size: 12px;
}

#container {
	zmargin-left: 8px;
	padding-left: 15px;
}

#tableau {
	width: 95%;
	borders: 2px solid red;
	border-collapse: collapse;
	margin: auto;
}

#tableau tr td {
	vertical-align: top;
}

#left-sidebar {
	vertical-align: top;
	width: 30%;
}

#theGrid {
	margin-bottom: 30px;
}

.diagrammes {
	border: 1px solid lightgray;
	margin: 0 0 30px 0;
}

fieldset {
	margin: 8px 0 8px 0;
}

.zone_des_options {
	font-weight: bold;
	font-size: 12px;
	color: black;
	padding: 2px;
	border: 1px solid gray;
}

.zone_des_options legend {
	font-weight: bold;
}

.zone_des_options label {
	font-weight: bold;
	font-size: 12px;
	color: black;
}

#zone_des_filtres {
	margin: 15px 5px;
}

.fg-button {
	outline: 0;
	margin: 0 4px 0 0;
	padding: .4em 1em;
	text-decoration: none !important;
	cursor: pointer;
	position: relative;
	text-align: center;
	zoom: 1;
}

#header-wrap {
	background: url(../../assets/images/header-bg.png) repeat-x left -10px;
	height: 50px;
	border: 1px solid;
}

#header-wrap ul li {
	float: left;
	list-style: none;
	zborder: 1px solid;
	qbackground: red;
}

#header-wrap ul li a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	margin-right: 15px;
}