fieldset{
	border: none;
	}
	
legend{
	font-weight: bold;
	color: #ffffff;
	}

img{
	border: none;
	}

.diagrammes {
	border: 1px solid lightgray;
	width: auto;
	margin-bottom: 30px;
	}
#pies_participation{
	width: 100%;
	}
	
#pies_participation td{
	width: 50%;
	}

#pies_participation .diagrammes2 {
 	border: 1px solid lightgray;
	}

body{
	font: 75.5% "Trebuchet MS", sans-serif;
	margin: 0px;
}

#container
{
	margin: 0 auto;
	width: 100%;
	min-width: 900px;
	min-height: 750px;
	height: 100%;
	background: #FFFFFF;
}

/* entete en haut : contenant logo et menu horizontal */
#header
{
	float: left;
	width: 100%;
	/*background: #333;*/
	background: #483E37;
    display: inline-block;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
	height: 80px;
}

#header h1 { margin: 0; }


/*  Menu hozirontal premier niveau */

#menu_top {
	list-style:none;
	font-weight:bold;
	/* Clear floats */	
	float:right;
	padding: 0px;
	background:none;
	margin-right: 2%;
	text-align: center;
}

#menu_top li{
	float:right;
	margin-left:0px;
	width: 180px;
	position:relative;

}

#menu_top ul {
	background:#fff; 
	background:none; 
	list-style:none;
	position:absolute;
	/*left:-9999px; */
	display: none;
	z-index: 1;
}

#menu_top a{
	display:block;
	padding:5px 10px;
	color: #C8BEB7; 
	text-decoration: none;
	border-right: 1px solid #917C6F; /*#fff;*/
	font-size: 18px;
	font-weight: bolder;
	font-family:'Yanone Kaffeesatz', "Trebuchet MS", sans-serif;
}

/*  Menu Deuxième niveau : qui apparait au survol de la souris */
 
#menu_top > li:hover > a, #menu_top > li >a.selected{ 
	/*background: #917C6F; */
	border-top: 5px solid #917C6F;
	border-bottom: 1px solid #917C6F;
	text-decoration:none;
	color : #FFFFFF;
}


#menu_top li:hover ul a{
	background: #917C6F;
	color : #FFFFFF;
	text-decoration:none;
}
#menu_top li:hover ul li a:hover{ 
	background:#333;
	text-decoration:none;
}

#menu_top ul li {
	padding-top:0px;
	float:none;
	margin-left:0px;
	width: 180px;
}

#menu_top ul a{
	white-space:nowrap; 
}

#menu_top li:hover ul{ 
	display: block;	
	left: -41px;
	float: left;
	opacity: 0.95;
}




/* partie centrale de la page */

#content
{
	float: left;
	width: 75%;
	min-width: 900px;
	padding: 20px 0;
	margin: 0 0 0 1%;
	margin-left : 285px;
	background: #fff;

	border-left-color: #A7A09C;
	border-left-style: dashed;
	border-left-width: 1px;
	padding-left: 10px;
}

#content h1,h2 { 
	margin: 0; 
	font-family:'Yanone Kaffeesatz', arial, serif;
	color: #917C6F;

	}

/* bas de page de Copyright */
#footer
{
	clear: both;
	/*background: #A7A09C;*/
	background: #C8BEB7;
	text-align: right;
	padding: 10px;
	height: 1%;
}


/* Panneau des filtres à gauche */

#pannelside {
	 position: fixed;  
	 top: 200px; 
	 left: 0px; 
	 width: 256px; 
	/* height: 500px; */
	/* opacity : 0.95;*/
}

#pannelside h1 {
	font-family:'Yanone Kaffeesatz', arial, serif;
	color: #FFFFFF;
}

#theGrid,#theGrid1,#theGrid2{margin-bottom: 30px;}

#bloc_horizontal_filtres{
	margin-bottom: 30px;
	padding:2px;
	}
	
#csv img,#pdf img,#imprimer img{
	height: 30px;
}

#admin_menu {
	text-align: center;
	}
	
#senmaps {margin:auto;}

.tooltip2 {
	display: none;
	font-size:12px;
	font-weight:bold;
	position: absolute;
	border: 1px solid #d3c4b2;
	background-color: #f0f0ff;
	padding: 6px;
	}


.move {
	margin: 0px 2px 5px 2px;
	}
	
#content {
	min-height: 700px;
	}
	
#credits,#credits td{margin-left:5px;font-size: 14px;border: 1px solid lightgray;padding: 8px;border-collapse: collapse;}
#credits {width: 60%;margin:0;padding: 0px;}
#credits tr > td:FIRST-CHILD{background-color: #483E37; color: #ffffff;font-weight: normal;width: 180px;}